.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.bg-verypaleblue{
    background-color: hsl(225, 100%, 98%);
}
.bg-brightblue{
    background-color: hsl(245, 75%, 52%);
}
.text-brightblue{
    color: hsl(245, 75%, 52%);
}
.text-pale{
    color: hsl(225, 100%, 94%);
}
.text-darkblue{
    color: hsl(223, 47%, 23%);
}
.text-desaturated{
    color: hsl(224, 23%, 55%);
}
.bg-pale{
    background-color: hsl(225, 100%, 94%);
}
.container{
    margin-top:4%;
}
.music-icon{
    margin-left: 40%;
}
@font-face {
    font-family: RedHatDisplay;
    src: url("fonts/RedHatDisplay-VariableFont_wght.ttf");
  }
  .RedHatDisplay {
    font-family: RedHatDisplay;
  }
  .row{
    width: 30%;
  }

  @media screen and (max-width: 768px) {
    .row{
      width: 100%;
    }
    .container{
        margin-top:15%;
    }
    .music-icon{
        margin-left: 60%;
    }
  }